RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^https://yassinesaid.github.io/cv [NC]
RewriteRule ^(.*)$ https://yassinesaid.github.io/cv/$1 [L,R=301]

ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

#Disable or Enable Directory browsing
# disable directory browsing
Options All -Indexes
# enable directory browsing
Options All +Indexes


#Change the Charset and Language headers
AddDefaultCharset UTF-8
DefaultLanguage en-GB
